/*noinspection CssInvalidAtRule*/
@import-normalize;

@font-face {
    font-family: "Joystix";
    src: local('Joystix'), url('./fonts/joystix/joystix monospace.ttf') format("truetype");
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Joystix", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}


.ArrowButton {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: center;
    position: fixed;
    bottom: 0%;
    width: 100%;        
    justify-content: center;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-weight: 800;
    white-space: nowrap;
    border: 2px solid white;
    border-radius: 25px;
}

.ArrowUp {
    grid-column-start: 2;
    grid-row-start: 1;
}
.ArrowDown {
    /* top: 10%; */
    grid-column-start: 2;
    grid-row-start: 3;
}
.ArrowLeft {
    grid-column-start: 1;
    grid-row-start: 2;
}

.ArrowRight {
    top: 5%;
    right: 45%;
    grid-column-start: 3;
    grid-row-start: 2;
}

.StartButton {
    position: absolute;
    top: 60%;
    right: 25%;
    width: 50%;
    height: 25%;
}